
div.jumbotron {
  background-image: url(castle.jpg);
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-color: black;
  font-weight: 600
}